.varificationIcon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.varifyContent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.orLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .link{
        font-size: 10px;
    }
}
